@import '../../../variables.scss';

.website-header {
  position: sticky;
  top: 0;
  z-index: $website-header-z-index;
  height: $website-header-height;
}
.website-header__inner {
  background-color: $c-background;
  border-bottom: 1px solid $c-primary;
  padding: 1rem;
}
.website-header__title {
  font-size: $fs-header--big;
  color: $c-primary;
}