
/* colors */
$c-primary: rgb(221, 125, 0); 
$c-secondary: rgb(163, 163, 163);
$c-background: rgb(63, 63, 63);
$c-warn: rgb(163, 0, 0);

/* fonts */
$f-primary: 'Roboto';
$f-header--big: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

/* font sizes */
$fs-header--big: 2rem;

/* z-index */
$website-header-z-index: 10000;
$website-footer-z-index: $website-header-z-index;

/* Dimensions */
$website-header-height: 5rem;
